<div class="container" ng-controller="postController">
  <div>
    <h1>Post</h1>
  </div>
  <form>
    <div class="form-group">
      <label class="control-label">
        Title
      </label>
      <input class="form-control" type="text" ng-model="post.title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label class="control-label">Description</label>
      <textarea class="form-control" ng-model="post.description" placeholder="Enter description"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="submit(post)">Submit</button>
    </div>
  </form>
</div>