<div class="container" ng-controller="showPostController">
  <div class="page-header">
    <h1>Post</h1>
  </div>

  <div>
    <span class="">Title</span>
    <span class="">{{post.title}}</span>
  </div>

  <div>
    <span class="">Description</span>
    <span class="">{{post.description}}</span>
  </div>

  <div>
    <span class="">Image</span>
    <img src="{{postImage}}" width="100px" height="100px">
  </div>

  <div>
    <a href='/posts' class="btn btn-secondary">Back</a>
    <a href="/posts/{{post.slug}}/edit" class="btn btn-primary">Edit</a>
    <button class="btn btn-danger" ng-click="delete(post)">Delete</button>
  </div>
</div>

<script>
  var postId = <%= @post.id %>
</script>
