/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.swal-overlay{
	.swal-modal{
		.swal-footer{
			text-align: center !important;
		}
	}
}

.bg-blue{
  background-color: #36475C;
}

.full-height{
  height: 100vh;
}

.card-look{
	box-shadow: rgba(0,0,0,0.2) 0 0 10px;
}

.mr-30{
	margin-right: 30px;
}

.p-30{
  padding: 30px;
}

.h-70{
  height: 70px;
}

.mb-20{
  margin-bottom: 20px;
}

.z-index-1{
  z-index: 1;
}

.navbar-inverse{
  border-color: none !important;
}

.flash{
	background-color: #589658;
  color: black;
  width: 30%;
  margin: 0 35%;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  background: linear-gradient(#589658, #89e298);
  border-radius: 5px;
}